html
	head
		title User | Sign Up
	body
		h1 Sign Up
		if error
			h1=error
		form(method="POST" action="/signup")
			input(type="text" name="name" placeholder="Name")
			input(type="text" name="matric_no" length="7" placeholder="Matric Number")
			input(type="Password" name="password" placeholder="Password")
			input(type="Submit" placeholder="Submit!")